ASSIGN CURSOR "resources\\assign.cur"
CASE CURSOR "resources\\case.cur"
FOLDER CURSOR "resources\\folder.cur"
FOR CURSOR "resources\\for.cur"
IF CURSOR "resources\\if.cur"
IFELSE CURSOR "resources\\ifelse.cur"
INPUT CURSOR "resources\\input.cur"
MULTIASSIGN CURSOR "resources\\multiassign.cur"
OUTPUT CURSOR "resources\\output.cur"
REPEAT CURSOR "resources\\repeat.cur"
RETURN CURSOR "resources\\return.cur"
SUBROUTINE CURSOR "resources\\subroutine.cur"
TEXT CURSOR "resources\\text.cur"
WHILE CURSOR "resources\\while.cur"
